@media print {
        body {
                width: 42cm;
                height: 59.4cm;
                padding: 0;
                margin: 0;
        }
   }
body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.infografika {
        max-width: 90%;
        height: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
}